@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
    body {
        margin: 0 !important;
    }
}

:root {
    --ck-content-font-family: 'Lato';
}

.main-container {
    font-family: var(--ck-content-font-family);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.editor-container_classic-editor .editor-container__editor {
    min-width: 1200px;
    max-width: 1400px;
}

@media screen and (max-width: 1400px) {
    .editor-container_classic-editor .editor-container__editor {
        min-width: 700px;
        max-width: 900px;
    }
}

@media screen and (max-width: 768px) {
    .editor-container_classic-editor .editor-container__editor {
        min-width: 300px;
        max-width: 400px;
    }
}
